*{
	padding: 0px;
	margin: 0px;
}
body {
    font-family: calibri;
}
.border{
	background-color: rgba(0, 0, 0, 0.87);
	margin: 2px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.26);
	border-width: 2px;
}
.textbutton{
	color: white;
	font-size: 20px;
	position: absolute;
	text-decoration: none;
}
.button{
	height: 40px;
	line-height: 40px;
	color: darkgrey;
	text-align: center;
	vertical-align: middle;
}
.button:hover, .textbutton:hover{
	cursor: pointer;
}
.textfield{
	color: white;
	padding: 10px;
	width: 300px;
	margin-bottom: 10px;
	
}